body {
  font-family: "Lucida Sans Unicode";
  background-image: url(fon.jpg);
  color: #716053;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  margin: 40px 0;
}

.header__avatar {
  border-radius: 50%;
}

.header__title {
  margin: 30px 0 10px 0;
  font-size: 34px;
  line-height: 1.2;
  font-family: "Lucida Sans Unicode";
}

.header__subtitle {
  color: #847c69;
  font-size: 20px;
  line-height: 1.4;
  margin: 0;
}

.links {
  width: 340px;
  margin-bottom: 40px;
}

.links__header {
  font-family: "Lucida Sans Unicode";
  font-size: 24px;
  line-height: 1.4;
  margin: 0 0 15px 0;
}

.links__container {
  background-color: #fff2e8;
  list-style-type: none;
  border: 2px solid hsla(210, 18%, 87%, 1);
  border-color: #ad9b8e;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px 10px;
  gap: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  box-sizing: border-box;
  margin: 0;
}

.links__link,
.links__title {
  font-size: 14px;
  font-size: 1.4;
  color: ##57606a;
}

.links__link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 0px 15px;
  gap: 20px;
  border-bottom: 2px solid hsla(210, 18%, 87%, 1);
  border-bottom-color: #ad9b8e;
  width: 290px;
}

.links__link:last-child {
  border-bottom: none;
}

.linsk__link,
.links__link:visited {
  text-decoration: none;
  color: #7f7762;
}

.links__title {
  margin: 0;
  min-width: 100px;
}

footer {
  margin: 0 0 40px 0;
}
.button-link {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 340px;
  background: #fff2e8;
  border: 1.5px solid rgba(27, 31, 36, 0.15);
  border-radius: 10px;
  border-color: #bea694;

  font-size: 15px;
  line-height: 1.4;

  color: #7e7661;
  text-decoration: none;
}

.button-link:hover {
  background-color: #7e7661;
  color: #fff;
  box-shadow: 0 1px 0 rgba(27, 31, 36, 0.1);
}
